<title>Biggest Norm</title>
  <h1>Lets Caltulate the Norms!!!</h1>
    The Vector with biggest Norm is {{result}}


  <form action="compute" method="post">
        <textarea placeholder="Enter there The X Dimension Here : &#10 65 &#10 73 &#10 2 &#10 4;" name="input1" rows="10" cols="30"></textarea>
        <textarea placeholder="Enter there The Y Dimension Here : &#10 65 &#10 73 &#10 2 &#10 4;" name="input2" rows="10" cols="30"></textarea>
        <textarea placeholder="Enter there The Z Dimension Here : &#10 65 &#10 73 &#10 2 &#10 4;" name="input3" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
<p style="color:red; font-size:30px;"> How to calculate biggest norm?? </p>

<p>ArrayLists represent the 3 Dimensions of the vector.</p> <br>
<p>Add Integer otherwise our algoritm will give an error.</p> <br>
<p>When the error occurs just press F5 or respectively restart the page :).</p> <br>
<p>When we add the Integers the algoritm will calculate the biggest norm for this values.</p> <br>
<p>The algoritm will warn you if you fill the boxes with different dimensions or 0 dimension .</p> <br>
<p>The algoritm will return the values of maximum vector .</p> <br>
